<div class="button-inner">
    <div class="button-widget component-widget">
    	<button class="{{_classes}}" onClick="location.href='#/id/{{_nextPage}}'" aria-label="{{displayTitle}}" title="{{_hoverText}}" {{#_requirePageCompletion}}disabled{{/_requirePageCompletion}}>{{{displayTitle}}}</button>
    </div>
</div>